*{
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	color : black ;

}

body{
	background-color: orange;
}

a{
	text-decoration: none;
	color: #252525;
}


.container{
}

.content{
position: relative;
left : 1%;
right : 1%;
}

.iframe-survey{
background-color: fuchsia;
position: relative;
left: 1%;
right : 1%;
}
.header{
}

.footer{

}

