*{
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif; ;

}

html,body{
	background-repeat: repeat;
	background-image: url(../img/stripes-light.png);
	background-color: white;
 height: 100%;
    width: 100%;
    margin: 0;
}

a{
	text-decoration: none;
	color: #252525;
}


.banana{
	color: fuchsia;
}

.content{
	position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

.iframe-survey{

	height: 83%;
	bottom: 1%;
	background-color: white;

	padding-left: 3%;

	padding-bottom: 5%;

	padding-right: 3%;

	padding-top: 2%;

	top: 0px;

	list-style-type: none;

	border-left-style: ridge;

	border-bottom-style: ridge;

	border-right-style: ridge;

	border-top-style: ridge;

	text-align: left;

	margin-top: 1%;
	margin-left: 22%;
	margin-right:10%;

	width:50%;
	display: block;
	position: relative;

	z-index: 2;
-moz-border-radius: 12px;
-webkit-border-radius: 12px; 
  border-radius: 12px; 
  -moz-box-shadow: 4px 4px 14px #000; 
  -webkit-box-shadow: 4px 4px 14px #000; 
  box-shadow: 4px 4px 14px #000; 

  
}
.content {
min-height: 100%;
height: auto ;
height: 100%;
margin: 0 auto -4em;

}
.footer{
	position: relative;
	bottom: 35px;
	height: 30px;
	margin-left: 23%;
	margin-right:10%;	
	width: 50%;
	font-size: 70%;
z-index: 4;
overflow: auto;
}
.ribbon{
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 3;
}
.header{
}

.footer{

}

