*{
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	color : black ;

}

body{
	background-color: orange;
}

a{
	text-decoration: none;
	color: #252525;
}


.container{
}

.content{
}

.iframe-survey{
	margin-top: 3%;
	margin-left: 9%;
	margin-right:10%;
	width:80%;
	min-height: 90%;
	display:block;
	border: none;
	padding: 0;
	position: relative;
	background-color:#b0e0e6;
	z-index: 1;

}

.ribbon{
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 2;
}
.header{
}

.footer{

}

